
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>
<p><strong>Your order has been successfully recieved for processing.</strong></p>
<p>(There are currently @ViewData["PendingOrders"] orders waiting to be dispatched)</p>

