@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-lg btn-success" asp-action="Create" asp-controller="Orders">Request a Testing Kit</a>
</div>
